@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left 40s linear infinite;
  display: inline-flex;
}
